<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Slideshow</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="../assets/css/slide.css">
</head>

<body>
  <div class="content-wrapper">
    <div class="left-section">
      <div class="slideshow-container" id="slideshow1">
        <h3>Tree Coverage</h3>
        <div class="mySlides">
          <img src="../assets/images/atlanta/atlantatree1.jpg" style="width:100%">
        </div>
        <div class="mySlides">
          <img src="../assets/images/atlanta/atlantatree2.jpg" style="width:100%">
        </div>
        <div class="mySlides">
          <img src="../assets/images/atlanta/atlantatree3.jpg" style="width:100%">
        </div>
        <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
          <div class="w3-left w3-hover-text-khaki" onclick="plusSlides(-1, 0)">&#10094;</div>
          <div class="w3-right w3-hover-text-khaki" onclick="plusSlides(1, 0)">&#10095;</div>
          <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentSlide(1, 0)"></span>
          <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentSlide(2, 0)"></span>
          <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentSlide(3, 0)"></span>
        </div>
      </div>

      <div class="slideshow-container" id="slideshow2">
        <h3>BeltLine Project</h3>
        <div class="mySlides">
          <img src="../assets/images/atlanta/atlantabeltline.jpg" style="width:100%">
        </div>
        <div class="mySlides">
          <img src="../assets/images/atlanta/atlantabeltline2.jpg" style="width:100%">
        </div>
        <div class="mySlides">
          <img src="../assets/images/atlanta/atlantabeltline3.jpg" style="width:100%">
        </div>
        <div class="mySlides">
          <img src="../assets/images/atlanta/atlantabeltline4.jpg" style="width:100%">
        </div>
        <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
          <div class="w3-left w3-hover-text-khaki" onclick="plusSlides(-1, 1)">&#10094;</div>
          <div class="w3-right w3-hover-text-khaki" onclick="plusSlides(1, 1)">&#10095;</div>
          <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentSlide(1, 1)"></span>
          <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentSlide(2, 1)"></span>
          <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentSlide(3, 1)"></span>
          <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentSlide(4, 1)"></span>
        </div>
      </div>

      <div class="slideshow-container" id="slideshow3">
        <h3>Solar Energy Initiatives</h3>
        <div class="mySlides">
          <img src="../assets/images/atlanta/AtlantaSolar.jpg" style="width:100%">
        </div>
        <div class="mySlides">
          <img src="../assets/images/atlanta/atl_sustainability8.jpg" style="width:100%">
        </div>
        <div class="mySlides">
          <img src="../assets/images/atlanta/atl_sustainability9.jpg" style="width:100%">
        </div>
        <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
          <div class="w3-left w3-hover-text-khaki" onclick="plusSlides(-1, 2)">&#10094;</div>
          <div class="w3-right w3-hover-text-khaki" onclick="plusSlides(1, 2)">&#10095;</div>
          <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentSlide(1, 2)"></span>
          <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentSlide(2, 2)"></span>
          <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentSlide(3, 2)"></span>
        </div>
      </div>

      <div class="slideshow-container" id="slideshow4">
        <h3>Water Conservation</h3>
        <div class="mySlides">
          <img src="../assets/images/atlanta/atl_sustainability10.jpg" style="width:100%">
        </div>
        <div class="mySlides">
          <img src="../assets/images/atlanta/atl_sustainability11.jpg" style="width:100%">
        </div>
        <div class="mySlides">
          <img src="../assets/images/atlanta/atl_sustainability12.jpg" style="width:100%">
        </div>
        <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
          <div class="w3-left w3-hover-text-khaki" onclick="plusSlides(-1, 3)">&#10094;</div>
          <div class="w3-right w3-hover-text-khaki" onclick="plusSlides(1, 3)">&#10095;</div>
          <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentSlide(1, 3)"></span>
          <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentSlide(2, 3)"></span>
          <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentSlide(3, 3)"></span>
        </div>
      </div>

      <div class="slideshow-container" id="slideshow5">
        <h3>Public Transportation</h3>
        <div class="mySlides">
          <img src="../assets/images/atlanta/atl_sustainability13.jpg" style="width:100%">
        </div>
        <div class="mySlides">
          <img src="../assets/images/atlanta/atl_sustainability14.jpg" style="width:100%">
        </div>
        <div class="mySlides">
          <img src="../assets/images/atlanta/atl_sustainability15.jpg" style="width:100%">
        </div>
        <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
          <div class="w3-left w3-hover-text-khaki" onclick="plusSlides(-1, 4)">&#10094;</div>
          <div class="w3-right w3-hover-text-khaki" onclick="plusSlides(1, 4)">&#10095;</div>
          <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentSlide(1, 4)"></span>
          <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentSlide(2, 4)"></span>
          <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentSlide(3, 4)"></span>
        </div>
      </div>

      <div class="slideshow-container" id="slideshow6">
        <h3>Farm-to-Table Practices</h3>
        <div class="mySlides">
          <img src="../assets/images/atlanta/atl_sustainability16.jpg" style="width:100%">
        </div>
        <div class="mySlides">
          <img src="../assets/images/atlanta/atl_sustainability17.jpg" style="width:100%">
        </div>
        <div class="mySlides">
          <img src="../assets/images/atlanta/atl_sustainability18.jpg" style="width:100%">
        </div>
        <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
          <div class="w3-left w3-hover-text-khaki" onclick="plusSlides(-1, 5)">&#10094;</div>
          <div class="w3-right w3-hover-text-khaki" onclick="plusSlides(1, 5)">&#10095;</div>
          <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentSlide(1, 5)"></span>
          <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentSlide(2, 5)"></span>
          <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentSlide(3, 5)"></span>
        </div>
      </div>
    </div>
  </div>

  <script src="../assets/js/slideshow.js"></script>
</body>

</html>