<form method="post" action="http://marketing.leafandluggage.com/subscription/form" class="listmonk-form">
    <div>
    <h3>Subscribe</h3>
    <input type="hidden" name="nonce" />
    <p><input type="email" name="email" required placeholder="E-mail" /></p>
    <p><input type="text" name="name" placeholder="Name (optional)" /></p>

  <p>
    <input id="0135f" type="checkbox" name="l" checked value="0135fc99-4cea-4e9b-8d4d-b294130591de" />
    <label for="0135f">Newsletter</label>
  </p>
  <p>
    <input id="bae45" type="checkbox" name="l" checked value="bae45f69-af9b-4a44-bf6e-58738485b65b" />
    <label for="bae45">Marketing</label>
  </p>
  
  <p><input type="submit" value="Subscribe" /></p>
</div>
</form>