/* Back to Top Button */
#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    background-color: #556b2f; /* Match your theme */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    display: none; 
  }
  
  #back-to-top:hover {
    background-color: #3b544a; /* Darker shade for hover */
  }